<p>
  statistics-selection works!
</p>
<div class="container">
  <div class="row">
    <label class="col-md-2">Select Student:</label>
    <div class="col-md-4">
      <ngx-select-dropdown (change)="studentSelectionChanged($event)" [config]="config" [options]="studentsList"
       [(value)]="selectedStudents" [multiple]="true">Select Student</ngx-select-dropdown>
    </div>
  </div>
  <br>
  <div class="row">
    <label class="col-md-2">Select Course:</label>
    <div class="col-md-4">
      <ngx-select-dropdown (change)="coursesSelectionChanged($event)" [config]="config" [options]="coursesList" [(value)]="selectedCourses" [multiple]="true">Select Course</ngx-select-dropdown>
    </div>
  </div>
 
      <chart-view></chart-view>

  <!-- </div> -->
</div>