<div class="container" *ngIf="currentStudent">
  <p>Details:</p>
  <form>
    <div class="form-group row">
      <span class="col-sm-12">ID: {{currentStudent.id}}</span>
      <br>
      <label for="firstName" class="col-sm-2 col-form-label">First Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="currentStudent.firstName" name="inputFirstName">
      </div>

      <label for="lastName" class="col-sm-2 col-form-label">Last name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLastName" [(ngModel)]="currentStudent.lastName" name="inputLastName">
      </div>
      <label for="email" class="col-sm-2 col-form-label">Email: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentStudent.email" name="inputEmail">
      </div>
      <label for="date" class="col-sm-2 col-form-label">Date: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentStudent.date" name="inputDate">
      </div>

      <label for="address" class="col-sm-2 col-form-label">Address: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentStudent.address" name="inputAddress">
      </div>

      <label for="country" class="col-sm-2 col-form-label">Country: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentStudent.country" name="inputCountry">
      </div>

      <label for="country" class="col-sm-2 col-form-label" *ngIf="currentStudent.zip">Zip: </label>
      <div class="col-sm-10" *ngIf="currentStudent.zip">
        <input type="text" class="form-control" [(ngModel)]="currentStudent.zip" name="inputZip">
      </div>

      <label for="course" class="col-sm-2 col-form-label">Course: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentStudent.course" name="inputCourse">
      </div>

      <label for="grade" class="col-sm-2 col-form-label">Grade: </label>
      <div class="col-sm-10">
        <input type="number" class="form-control" [(ngModel)]="currentStudent.grade" name="inputGrade">
      </div>
    </div>
    <div class="col-12">
      <button type="button" class="btn" (click)="cancelUpdating()">Cancel</button>
      <button type="button" class="btn btn-success" (click)="saveStudent()">Save</button>
    </div>
  </form>
</div>