 <form>
      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="student.firstName" name="inputFirstName">
        </div>
  
        <label for="lastName" class="col-sm-2 col-form-label">Last name: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputLastName" [(ngModel)]="student.lastName" name="inputLastName">
        </div>
        <label for="email" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="student.email" name="inputEmail">
        </div>
        <label for="date" class="col-sm-2 col-form-label">Date: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="student.date" name="inputDate">
        </div>
  
        <label for="address" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="student.address" name="inputAddress">
        </div>
  
        <label for="country" class="col-sm-2 col-form-label">Country: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="student.country" name="inputCountry">
        </div>
  
        <label for="country" class="col-sm-2 col-form-label">Zip: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="student.zip" name="inputZip">
        </div>
  
        <label for="course" class="col-sm-2 col-form-label">Course: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="student.course" name="inputCourse">
        </div>
  
        <label for="grade" class="col-sm-2 col-form-label">Grade: </label>
        <div class="col-sm-10">
          <input type="number" class="form-control" [(ngModel)]="student.grade" name="inputGrade">
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="saveStudent()">Save</button>
      </div>
    </form>